<div class="favorisComponant">
    <p class="title">Liste des films en favoris :</p>
    <ul>
        <li>
            <img src="https://image.tmdb.org/t/p/w300/qpyaW4xUPeIiYA5ckg5zAZFHvsb.jpg" />
            <div class="left">
                <p>La casa de papel</p>
                <i class="bi bi-heart-fill 2x"></i>
            </div>
        </li>
        <li>
            <img src="https://image.tmdb.org/t/p/w300/qpyaW4xUPeIiYA5ckg5zAZFHvsb.jpg" />
            <div class="left">
                <p>La casa de papel</p>
                <i class="bi bi-heart-fill 2x"></i>
            </div>
        </li>
        <li>
            <img src="https://image.tmdb.org/t/p/w300/qpyaW4xUPeIiYA5ckg5zAZFHvsb.jpg" />
            <div class="left">
                <p>La casa de papel</p>
                <i class="bi bi-heart-fill 2x"></i>
            </div>
        </li>
        <li>
            <img src="https://image.tmdb.org/t/p/w300/qpyaW4xUPeIiYA5ckg5zAZFHvsb.jpg" />
            <div class="left">
                <p>La casa de papel</p>
                <i class="bi bi-heart-fill 2x"></i>
            </div>
        </li>
    </ul>
</div>