<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <div class="ele">
            <a class="navbar-brand" href="#">Film Stream</a>
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="favoris">Favoris</a></li>
            </ul>
        </div>
    </div>
    <div class="searchBox">
        <input #searchedText (ngModelChange)="setSearch(searchedText.value)" type="text" placeholder="Search" />
        <button (click)="setSearch(searchedText.value)">Search</button>
    </div>
</nav>